<div class="min-h-80 container mx-auto px-4 py-16 flex">
    <div class="card flex not-prose p-4 w-full">
        <div id='calendar' class="w-full"></div>
    </div>
</div>
<script>
    const calendarDefaultExample = document.getElementById('calendar')
    const eventDay = new Date()
    const calendarDefault = new FullCalendar.Calendar(calendarDefaultExample, {
        initialView: 'dayGridMonth',
        buttonText: {
        today: 'Today'
        },
        events: [
        {
            title: 'Learn JavaScript',
            start: eventDay.toISOString().split('T')[0],
            classNames: ['fc-event-primary']
        }
        ]
    })
    calendarDefault.render()
</script>