<div class="min-h-80 container mx-auto px-4 py-16 flex">
    <div class="card flex not-prose p-4 w-full">
        <div id='calendar' class="w-full"></div>
    </div>
</div>
<script>
    import { Calendar } from '@fullcalendar/core';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import timeGridPlugin from '@fullcalendar/timegrid';
    import listPlugin from '@fullcalendar/list';

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        if (calendarEl) {
            let eventDay = new Date();
            let calendar = new Calendar(calendarEl, {
                plugins: [ dayGridPlugin, timeGridPlugin, listPlugin ],
                initialView: 'dayGridMonth',
                buttonText: {
                today: 'Today'
                },
                events: [
                {
                    title: 'Learn JavaScript',
                    start: eventDay.toISOString().split('T')[0],
                    classNames: ['fc-event-primary']
                }
                ]
            });
            calendar.render();
        }
    });
</script>