<div class="min-h-80 container mx-auto px-4 py-16 flex flex-col sm:flex-row">
    <div class="flex-2/5 flex justify-center items-center">
        <ul class="timeline timeline-vertical" aria-label="Tabs" role="tablist">
            <li>
                <div class="timeline-start text-base-content font-medium">
                    1984
                </div>
                <div class="timeline-middle">
                <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
                    <span class="badge badge-primary size-3 rounded-full p-0" />
                </span>
                </div>
                <div class="timeline-end timeline-box" id="tabs-vertical-item-1" data-tab="#tabs-vertical-1" aria-controls="tabs-vertical-1" role="tab" aria-selected="true">
                    A
                </div>
                <hr />
            </li>
            <li>
                <hr />
                <div class="timeline-start text-base-content font-medium">
                    1998
                </div>
                <div class="timeline-middle">
                <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
                    <span class="badge badge-primary size-3 rounded-full p-0"></span>
                </span>
                </div>
                <div class="timeline-end timeline-box" id="tabs-vertical-item-2" data-tab="#tabs-vertical-2" aria-controls="tabs-vertical-2" role="tab" aria-selected="false">
                    B
                </div>
            </li>
        </ul>
    </div>
    <div class="flex-3/5 justify-center items-center">
        <div class="ms-3">
            <div id="tabs-vertical-1" class="hidden"  role="tabpanel" aria-labelledby="tabs-vertical-item-1">
                <h3>
                    A
                </h3>
                <p class="text-base-content/80">
                    Bacon ipsum dolor amet swine prosciutto sausage ground round rump pig chislic chicken strip
                    steak beef ribs bacon kielbasa salami meatball. Short ribs turkey rump pork chop ham hock.
                    Pancetta ground round pork chop short ribs cow brisket. Fatback ham hock sirloin,
                    frankfurter pork doner chicken tongue cupim. Cupim chicken porchetta jerky pork loin
                     meatball drumstick leberkas chuck brisket strip steak venison.
                     Cow ribeye sirloin brisket, pork chop tenderloin biltong frankfurter beef shankle
                     tri-tip kielbasa corned beef capicola.
                </p>
            </div>
            <div id="tabs-vertical-2" class="hidden" role="tabpanel" aria-labelledby="tabs-vertical-item-2">
                <h3>
                    B
                </h3>
                <p class="text-base-content/80">
                    Short loin venison buffalo, short ribs cow chuck beef ribs brisket turkey fatback swine.
                    Beef tongue chuck brisket picanha. Doner burgdoggen sirloin porchetta jerky bacon capicola
                    strip steak pork chop frankfurter pastrami. Cupim tail doner, cow flank leberkas bresaola.
                    Ham hock drumstick alcatra capicola, chislic shoulder burgdoggen.
                </p>
            </div>
        </div>
    </div>
</div>